*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size:.14rem;
}
body,html,#root{
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}
div{
    flex:1;
}
footer{
    border-top:1px solid #ccc;
    height: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        color:#333;
        text-decoration: none;
        font-size:.2rem;
    }
}
.list{
    width: 100%;
    display:flex;
    overflow: hidden;
    height: .5rem;
    align-items: center;
    justify-content: space-around;
}