* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: .14rem;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}

header {
    height: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .1rem;
    background: #333;
    color: #fff;
    font-weight: 800;
    font-size: .16rem;
    i {
        vertical-align: middle
    }
}

section {
    flex: 1;
    overflow-y: auto;
}

.bg {
    width: 100%;
    height: 1.9rem;
    background: url('../img/bg.png') no-repeat center center;
    background-size: 100% 100%
}

.item {
    width: 100%;
    height: 1rem;
    background: #F1F4F9;
    display: flex;
    align-items: center;
    padding: 0 .1rem;
    li {
        flex: 1;
        text-align: center;
        i {
            margin: 0 auto;
            width: .4rem;
            height: .4rem;
            display: block;
            margin-bottom: .1rem;
        }
        &:nth-child(1) {
            i {
                background: url('../img/1.png') no-repeat center center;
                background-size: 100% 100%;
            }
        }
        &:nth-child(2) {
            i {
                background: url('../img/2.png') no-repeat center center;
                background-size: 100% 100%;
            }
        }
        &:nth-child(3) {
            i {
                background: url('../img/3.png') no-repeat center center;
                background-size: 100% 100%;
            }
        }
        &:nth-child(4) {
            i {
                background: url('../img/4.png') no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
}

.ipt {
    width: 100%;
    height: auto;
    li {
        width: 100%;
        height: .5rem;
        line-height: .5rem;
        padding: 0 .1rem;
        display: flex;
        span {
            width: 20%;
            text-align: center;
        }
        input {
            border: none;
            flex: 1;
            outline: none;
        }
    }
}

footer {
    height: .44rem;
    display: flex;
    font-size: .2rem;
    line-height: .44rem;
    color: #fff;
    text-align: center;
    li {
        height: 100%;
        width: 80%;
        background: #FF6600;
        color: #fff;
    }
    p {
        height: 100%;
        flex: 1;
        background: #4BCC31
    }
}