* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: .14rem;
}

body, html, #root {
  width: 100%;
  height: 1005;
}

a {
  width: 33.3%;
  display: inline-block;
  text-align: center;
}
