*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: .14rem;
}
body,html,#root,.wrap{
    width: 100%;
    height: 100%;
}
.wrap{
    display: flex;
    flex-direction: column;
}