* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .14rem;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: .6rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .1rem;
}

.center {
  position: relative;
}

.center ol {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: -2.15rem;
}

.center ol li {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
