* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: .14rem;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

.box {
  width: 1rem;
  height: .38rem;
  display: flex;
  align-items: center;
  background: green;
}

.box li {
  padding: .05rem .1rem;
  font-size: .3rem;
  color: #fff;
}

.box li:nth-child(1) {
  padding: .05rem .1rem;
  border-right: 1px solid #ccc;
}
