* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: .14rem;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

.item {
  width: 100%;
  height: 100%;
  background: lime;
}
