* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .14rem;
    box-sizing: border-box;
}

body,
html,
#root,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column
}

.head {
    width: 100%;
    height: .5rem;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 0 .1rem;
    img {
        width: 1.2rem;
        height: auto;
        margin-right: .1rem;
    }
    span {
        margin-left: 1.3rem;
    }
    div {
        position: relative;
        height: auto;
        width: .4rem;
        height: .8rem;
        ul {
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            bottom: -.3rem;
            // height: .2rem;
        }
        li {
            width: 100%;
            height: .2rem;
        }
    }
}

.attention {
    height: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .1rem;
    align-items: center;
}

.body {
    flex: 1;
    overflow-y: auto;
    h6 {
        height: .5rem;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        padding: 0 .1rem;
        align-items: center;
    }
    .box {
        border-bottom: 1px solid #eee;
        padding: .1rem 0;
        p {
            padding: 0 .1rem;
            line-height: 3;
        }
        li {
            padding: 0 .1rem;
            line-height: 3;
            span {
                &:nth-child(1) {
                    margin-right: .1rem;
                    background: skyblue;
                    padding: .02rem .05rem;
                }
            }
        }
    }
}

ol {
    padding: .1rem;
    border-bottom: 1px solid #eee;
    li {
        line-height: 2
    }
}