* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: .14rem;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

header li {
  text-align: center;
}

.nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background: #F7F7F7;
}

.nav li {
  width: 20%;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  margin: .1rem;
  height: .3rem;
  line-height: .3rem;
}

.active {
  border: 1px solid orange;
  color: orange;
}
