* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: .14rem;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 70%;
  margin: 20% auto;
  text-align: center;
}

ul {
  line-height: 3;
}

li {
  line-height: 3;
}
